body {
    overflow: hidden;
    margin: 0;
}

#app {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    column-count: 1;
    grid-template-columns: 100%;
    grid-template-rows: 5% 88% 7%;
} 

#bar {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;

}

#main {
    position: relative;
    width: 100%;
    height: 100%;
    /*background-color: blue;*/
}

#footer {
    position: relative;
    width: 100%;
    height: 100%;
    /*background-color: red;*/
}